.card-size {
  width: 600px;
  height: auto;
  padding: 10px 80px;
  border-radius: 10px;
}

.container-bg {
  background-color: rgb(250, 249, 254);
}

.img-size {
  width: 80px;
  height: 80px;
}

.hr-line{
    width: 250px;
}

.google-logo {
    width: 25px;
    height: 25px;
}
